/*** CUSTOM FONTS ***/
@font-face {
  font-family: "Main-Font";
  src: url("fonts/Main-Font.ttf");
}

/*** BASE LAYOUT ***/
html,
body {
  height: 100%;
  margin: 0;
}
body {
  background: #232323;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: 0 auto;
  width: 40vw;
  height: 100%;
}

@media (max-width: 800px) {
  #container {
    width: 90vw;
  }
}

/*** LAYOUT ***/
.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.row > * {
  margin: 0 0.5rem;
}
.row > *:first-child {
  margin-left: 0;
}
.row > *:last-child {
  margin-right: 0;
}

.row input,
.row select {
  flex-grow: 1;
}

.row input[type="number"] {
  width: 1rem;
}

@media (max-width: 480px) {
  .row {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
  }
  .row > * {
    margin: 0.25rem 0;
  }
  .row input[type="number"] {
    width: auto;
  }
  .btn-group {
    display: flex;
    flex-flow: row nowrap;
  }
  .btn-group button {
    flex-grow: 1;
  }
}

.text-item > .row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.text-item > .row > * {
  margin: 0;
}

.column {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
}

.column > input,
.column > label {
  margin-top: 0.5rem;
}

/*** GENERAL ELEMENTS ***/
h3 {
  margin: 0;
  text-align: center;
}

button {
  text-transform: uppercase;
  color: white;
  font: bold 1rem sans-serif;
  padding: 0.7rem;
  background-color: #535353;
  border-radius: 0.5rem;
  border: 2px #686868 solid;
  cursor: pointer;
}

button:hover {
  background-color: #454545;
}

button.active {
  background-color: #333;
  border: 2px #fff solid !important;
}

button.active + button {
  border-left: none;
}

.btn-group button {
  border-radius: 0;
  cursor: pointer;
  float: left;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group button:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

.btn-group button:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

input,
select {
  vertical-align: middle;
  padding: 0.5rem;
  background-color: #fff;
  border: 0;
}

input[type="range"] {
  padding-left: 0;
  padding-right: 0;
}

input[type="color"] {
  width: auto;
}

/*** HELPERS ***/
.margin-t-b {
  margin: 0.5rem 0;
}
.margin-r-l {
  margin: 0 1rem;
}
.padding-t-b {
  padding: 1rem 0 1rem 0;
}
.full-width {
  width: 100%;
}

.btn-small {
  font-size: 0.75rem;
  padding: 0.5rem;
}

/*** FORMATS ***/
#format-selection {
  font-weight: bold;
  font-size: 1.17em;
  text-align: center;
}

#format-selection select {
  margin-left: 0.5rem;
}

.image-file-upload label {
  font-weight: bold;
  font-size: 1.17em;
  text-align: center;
  border-radius: 0.5rem;
  border: 2px #686868 dashed;
  display: block;
  cursor: pointer;
}

.image-file-upload,
.image-file-upload label {
  box-sizing: border-box;
  width: 100%;
}

/*** LOADING ***/
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #686868;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}

/*** ICONS ***/
.icon {
  /* display: inline-block; */
  width: 2.25rem;
  height: 2.25rem;
  background-position: center;
  background-repeat: no-repeat;
}
.i-align-left {
  background-image: url("icons/format_align_left_white.svg");
}
.i-align-center {
  background-image: url("icons/format_align_center_white.svg");
}
.i-align-right {
  background-image: url("icons/format_align_right_white.svg");
}
.i-move-vert {
  background-image: url("icons/vertical_arrows_white.svg");
}
.i-move-horiz {
  background-image: url("icons/horizontal_arrows_white.svg");
}
.i-move-free {
  background-image: url("icons/move_arrows_white.svg");
}
.i-delete {
  background-image: url("icons/delete_white.svg");
}

/*** COLLAPSIBLE ***/
.collapsible {
  background-color: #333;
}
.collapsible .i-delete {
  border-radius: 0;
  border: 0;
  background-color: #960000;
}
.collapsible .i-delete:hover {
  background-color: #c00000;
}
.collapse-toggle {
  border-radius: initial;
  cursor: pointer;
  padding: 0.5rem 0;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.collapse-content {
  padding: 0.5rem;
  display: none;
  overflow: hidden;
}
.collapse-toggle:after {
  content: "\25B6";
  margin-left: 5px;
}
.collapse-toggle.active:after {
  content: "\25BC";
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 2rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(1.5rem - 8px);
  width: calc(1.5rem - 8px);
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #535353;
}

input:focus + .slider {
  box-shadow: 0 0 1px #535353;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.fab,
.fab-left {
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;
  color: white;
  text-align: center;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.fab-left {
  right: unset;
  left: 1rem;
}
.fab:hover,
.fab-left:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

.controls {
  flex: 1 1 auto;
  overflow: auto;
  padding-right: 10px;
}

/*** SCROLLBAR ***/
/* width */
.controls::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
.controls::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.controls::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.controls::-webkit-scrollbar-thumb:hover {
  background: #555;
}
